.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background: #888;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.noun {
    border-top: 0.35em solid blue;
}

.adverb {
    border-top: 0.35em solid red;
}

.adjective {
    border-top: 0.35em solid orchid;
}

.conjunction {
    border-top: 0.35em solid yellow;
}

.interjection {
    border-top: 0.35em solid cornsilk;
}

.preposition {
    border-top: 0.35em solid darkorange;
}

.number {
    border-top: 0.35em solid yellowgreen;
}

.verb {
    border-top: 0.35em solid steelblue;
}

.analysed-word {
    background: white;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 10px 10px 10px 10px #333;
    padding-right: 10px;
    margin-bottom: 2em;
    padding: 0.25em 1em 1em 1em;
}

.wordtype {
    border-bottom: 1px solid #aaa;
    font-variant: small-caps;
    margin-bottom: 0.75em;
}

.stem {
    padding-right: 0.15em;
}

.ending {
    padding-left: 0.15em;
}

.modifier {
    margin-left: 0.25em
}

.stemsep {
    margin-left: 0.15em;
    margin-right: 0.15em;
}

.translation {
    margin-top: 1em;
    border-top: 1px solid #aaa;
    font-size: 0.925em;
}